################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/bin
/obj
# Visual Studio 2019
# User-specific files
# User-specific files
/.vs
/DB.sql
/SamuelPortfolioAPI/.config
/SamuelPortfolioAPI/Properties/PublishProfiles
/SamuelPortfolioAPI/obj/Debug/net6.0
/SamuelPortfolioAPI/obj/Debug/net8.0/ref/SamuelPortfolioAPI.dll
